@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

nav{
  background-color: #161212;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  box-shadow: 5px 5px 30px #ffd900af;
}
nav.sticky{
  padding: 15px 20px;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #FFD700;
}
nav.sticky .logo a{
  color: #fff;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #FFD700;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.1s ease;
}
 .nav-links li a:hover{
   color: #ffd900b0;
   border-bottom: 3px solid #FFD700;
 }
 nav.sticky .nav-links li a{
   color: #fff;
   transition: all 0.4s ease;
}
 nav.sticky .nav-links li a:hover{
  color: #0E2431;
}

.card {
  width: 26.2%;
  height: 800px;
  border-radius: 2em;
  border: 5px solid #FFD700;
  padding: 10px;
  float: left;
  margin: 120px 0 0 50px;
  background-color: #191919d3;
  box-shadow: 5px 5px 30px #ffd900af,
              -5px -5px 30px #ffd900af;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #FFD700;
  padding: 10px;
  margin-top: 30px;
  object-fit: cover;
}

.card h1 {
  font-size: 30px;
  color: white;
  margin-top: 10px;
}

.card h2 {
  margin-top: 20px;
  color: #FFD700;
  font-size: 30px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card p {
  color: #1db0d4;
  margin-top: 10px;
}

ul, li .card {
  list-style: none;
  margin-top: 10px;
  margin-left: 50px;
  color: #fff;
}

.btn-btn {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;
  float: left;
  margin-right: 5px;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-btn:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: #fce803;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}

.card2 {
  width: 65%;
  height: 800px;
  border-radius: 2em;
  border: 5px solid #FFD700;
  padding: 10px;
  margin: 120px 50px 0 20px;
  background-color: #191919d3;
  box-shadow: 5px 5px 30px #ffd900af,
              -5px -5px 30px #ffd900af;
  float: right;
  overflow: auto;
  scrollbar-color: rgba(255, 255, 255, 0.) rgba(255, 255, 255, 0);
}

.lines {
  border-left: 5px solid #FFD700;
  padding-bottom: 40px;
  height: 220px;
  margin-top: 30px;
  margin-left: 50px;
}

.card2 h2 {
  margin-top: 20px;
  color: #fce803;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.card2 p {
  color: white;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.card2 h3 {
  color: #fce803;
  font-size: 30px;
  padding: 30px 100px 0 50px;
}

.card2 h4 {
  color: rgb(182, 171, 171);
  padding-top: 10px;
  padding-left: 50px;
}

.card2 h5 {
  color: rgb(182, 171, 171);
  padding-top: 10px;
  padding-left: 50px;
}

.card2 h6 {
  color: rgb(182, 171, 171);
  padding-top: 10px;
  padding-left: 50px;
}

.skills {
  float:left;
}

.schools {
  float: left;
}

.card2 .cardproject {
  position: relative;
  width: 25%;
  height: 20vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 45px;
  box-shadow: 5px 5px 30px #ffd900af,
              -5px -5px 30px #ffd900af;
}

.card2 .cardproject img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s ease;
}

.card2 .buttons {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: none;
  justify-content: center;
  gap: 20px;
}

.card2 .buttons button {
  padding: 10px 20px;
  background-color: hsla(51, 100%, 50%, 0.786);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card2 .middletext {
  text-align: center;
  color: white;

}

.card2 .buttons button:hover {
  background-color: hsla(51, 100%, 50%, 0.5);
}

.cardproject:hover img {
  filter: blur(5px);
}

.card2 .cardproject:hover .buttons {
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsla(51, 100%, 50%, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card3 {
  width: 15%;
  height: 800px;
  border-radius: 2em;
  border: 5px solid #FFD700;
  padding: 10px;
  margin: 120px 30px 0 50px;
  float: left;
  background-color: #191919d3;
  box-shadow: 5px 5px 30px #ffd900af,
              -5px -5px 30px #ffd900af;
  display: flex;                 
  flex-direction: column;        
  align-items: center;          
  justify-content: center;    
}

.card3 .list {
  list-style-type: none;  
  padding: 0;               
  margin: 0;      
  width: 100%; 
}

.card3 .list li {
  padding: 27px;
  color: white;
  margin: 0;
  text-align: center;
  width: 100%;     
  cursor: pointer;
}

.card3 .list li:hover {
  border-radius: 10px;
  background-color: #fce703bb;
  border-left: 10px solid #fce703;
}

.card4 {
  width: 75%;
  height: 800px;
  border-radius: 2em;
  border: 5px solid #FFD700;
  padding: 60px;
  margin: 120px 50px 0 20px;
  background-color: #191919d3;
  box-shadow: 5px 5px 30px #ffd900af,
              -5px -5px 30px #ffd900af;
  float: right;
  overflow: auto;
  scrollbar-color: rgba(255, 255, 255, 0.) rgba(255, 255, 255, 0);
}

.card4 .resources {
  width: 285px;
  max-height: 200px;
  background-color: rgb(62, 68, 66);
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  color: white;
  margin: 20px;
  float: left;
  transition: transform 0.3s ease;
}

.card4 .resources:hover{
  transform: scale(1.1);
}

.card4 .resources img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.card4 .resources h3 {
  padding-top: 20px;
}

.cardcert {
  width: 65%;
  height: 800px;
  border-radius: 2em;
  border: 5px solid #FFD700;
  padding: 50px;
  margin: 120px 50px 0 20px;
  background-color: #191919d3;
  box-shadow: 5px 5px 30px #ffd900af,
              -5px -5px 30px #ffd900af;
  float: right;
  overflow: auto;
  scrollbar-color: rgba(255, 255, 255, 0.) rgba(255, 255, 255, 0);
}

.cardcert h2 {
  margin-top: 30px;
  color: #fce803;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.ncs {
  background-color: #191919d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1090px;
  height: 100px;
  padding: 0 20px;
  border-radius: 20px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.ncs:hover {
  background-color: #dfe21d9d;
  transform: scale(1.1);
}

.text-container {
  display: flex;
  flex-direction: column;
}

.cardcert h3 {
  color: white;
  font-size: 20px;
  margin: 0;
}

.cardcert p {
  color: white;
  font-size: 15px;
  margin: 5px 0 0 0;
}

.cardcert button {
  height: 40px;
  width: 150px;
  background-color: #1db0d4;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: transform 0.3s ease;
  color: white;
}

.cardcert button:hover {
  background-color: #1dafd4c0 ;
  transform: scale(1.1);
}

/* Styles for the contact form container */
.contact {
  width: 65%;
  height: 800px;
  border-radius: 2em;
  border: 5px solid #FFD700;
  padding: 10px 100px;
  margin: 120px 50px 0 20px;
  background-color: #191919d3;
  box-shadow: 5px 5px 30px #ffd900af,
              -5px -5px 30px #ffd900af;
  float: right;
  overflow: auto;
  scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0);
}

/* Style the form labels and input fields */
form label {
  font-size: 18px;
  color: #fff;
}

form input[type="text"],input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
}

form #message {
  height: 200px;
}

form textarea {
  resize: none;
}

form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #FFD700;
  color: #000;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #e0c700;
}

.contact h2 {
  font-size: 40px;
  text-align: center;
  color: #FFD700;
  padding: 50px 0;
}

@media (min-width: 1025px) and (max-width: 1200px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 768px) {
  /* RESPONSIVE NAVIGATION*/
  nav .logo a{
    font-weight: 600;
    font-size: 30px;
  }

   .nav-links li a{
    font-size: 15px;
    font-weight: 900;
    padding: 10px 1px;
    float: left;
  }

  /* RESPONSIVE PROFILE*/
  .card {
    width: 90%;
    height: 800px;
    padding: 10px 120px;
    margin: 130px 20px 0 50px;
  }
  
  .btn-btn {
    gap: 0.4rem;
    margin-right: 1px;
    font-weight: 500;
    font-size: 0.65rem;
  }
  
  .card2 {
    width: 90%;
    height: 800px;
    margin: 60px 20px 30px 20px;
    padding: 8px;
  }
  
  /* RESPONSIVE ACHIEVEMENT*/
  .cardcert {
    width: 90%;
    height: 800px;
    padding: 10px;
    margin: 30px 20px 30px 20px;
  }
  
  .cardcert h2 {
    margin-top: 30px;
    font-size: 30px;
  }
  
  .ncs {
    width: 100%;
    height: 100px;
    padding: 0 20px;
    margin: 10px;
  }
  
  .cardcert h3 {
    font-size: 20px;
  }

  .cardcert p {
    font-size: 15px;
    margin: 5px 0 0 0;
  }
  
  .cardcert button {
    height: 40px;
    width: 110px;
  }
  
  /* RESPONSIVE RESOURCES*/
  .card3 {
    width: 150px;
    padding: 5px;
    margin: 50px 10px 0 10px;
  }

  .card4 {
    width: 75%;
    padding: 20px;
    margin: 50px 10px 30px 10px;
    float: left;
  }
  
  .card4 .resources {
    width: 200px;
  }
  

  /* RESPONSIVE CONTACT*/
  
  .contact {
    width: 90%;
    padding: 10px 30px;
    margin: 30px 30px 50px 30px;
  }
} 

@media (max-width: 480px) {
  /* RESPONSIVE NAVIGATION*/
  nav .logo a{
    font-weight: 520;
    font-size: 20px;
  }

   .nav-links li a{
    font-size: 10px;
    font-weight: 900;
    padding: 10px 1px;
    float: left;
  }

  /* RESPONSIVE PROFILE*/
  .card {
    width: 90%;
    height: 800px;
    padding: 10px;
    margin: 130px 20px 0 20px;
  }
  
  .btn-btn {
    gap: 0.4rem;
    margin-right: 1px;
    font-weight: 500;
    font-size: 0.65rem;
  }
  
  .card2 {
    width: 90%;
    height: 800px;
    margin: 30px 20px 30px 20px;
    padding: 8px;
  }
  
  /* RESPONSIVE ACHIEVEMENT*/
  .cardcert {
    width: 90%;
    height: 800px;
    padding: 10px;
    margin: 30px 20px 30px 20px;
  }
  
  .cardcert h2 {
    margin-top: 30px;
    font-size: 30px;
  }
  
  .ncs {
    width: 100%;
    height: 100px;
    padding: 0 20px;
    margin: 10px;
  }
  
  .cardcert h3 {
    font-size: 12px;
  }

  .cardcert p {
    font-size: 10px;
    margin: 5px 0 0 0;
  }
  
  .cardcert button {
    height: 40px;
    width: 80px;
  }
  
  /* RESPONSIVE RESOURCES*/
  .card3 {
    width: 150px;
    padding: 5px;
    margin: 50px 10px 0 10px;
  }

  .card4 {
    width: 60%;
    padding: 10px;
    margin: 50px 10px 30px 10px;
    float: left;
  }
  
  .card4 .resources {
    width: 210px;
  }
  

  /* RESPONSIVE CONTACT*/
  
  .contact {
    width: 90%;
    padding: 10px 30px;
    margin: 30px 30px 50px 30px;
  }
}